<h2>Edit <%= resource_name.to_s.humanize %></h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
   <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
     <%= f.label :name, "名前" %><br />
     <%= f.text_field :name, autofocus: true %>
   </div>
<br />
  <div class="birth_date_field">
    <%= f.label :birthday, "誕生日" %>
    <%= f.date_select(
          :birthday,
          start_year: 1956,
          end_year: 1921,
          default: Date.new(1956, 1, 1)) %>
  </div>


<br />
<div>
  性別：
  <label><%= f.radio_button :gender, 0 %>男性</label><label><%= f.radio_button :gender, 1 %>女性</label>
</div>
<br />



<div>
  お住まいの都道府県を選んでください<br />
  <%= f.select :area, User.areas_i18n.keys.map { |k| [User.areas_i18n[k], k]} %>
</div>
<br />
<div>
<%= f.label :category_ids, "趣味"  %>
<%= f.collection_check_boxes :category_ids, Category.all, :id, :category_name, include_hidden: false %>

</div>

<div>
  一言<br />
  <%= f.text_area :remarks %>
</div>



<div class="field">
    <%= f.label :image_name %>
    <%= f.file_field :image_name %>
    <%= f.hidden_field :image_name_cache  %>
  </div>


  


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
