<div id=<% "user-list-item-#{user.id}" %>>
  <%= link_to user_path(user) do %>
    <%= user.name %>
    <%= user.gender %>
    <%= user.birthday %>
    <% user.categories.each do |category| %>
      <%= category.category_name %>
    <% end %>
    <%= user.prefecture.name %>
  <% end %>

  <% if current_user.like_receivers.exists?(id:user.id) %>
    <button class="liked-button" value=<%= user.id %>>いいね済み</button>
  <% else %>
    <button class="like-button" value=<%= user.id %>>いいね</button>
  <% end %>
</div>
