<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag(users_path,:method => 'get') do %>
  <%= collection_select :category_id, :id, Category.all, :id, :category_name, prompt:"---" %>
  <%= submit_tag 'カテゴリーから探す',name: :send_category  %><br>
  <%= collection_select :prefecture_id, :id, Prefecture.all, :id, :name, prompt:"---" %>
  <%= submit_tag 'エリア別', name: :send_prefecture  %>
<% end %>



<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
