<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_tag(users_path,:method => 'get') do %>
  <%= collection_select :category_id, :id, Category.all, :id, :category_name, prompt:"---" %>
  <%= submit_tag 'カテゴリーから探す',name: :send_category  %><br>
  <%= select :user, :area, User.areas_i18n.keys.map { |k| [User.areas_i18n[k], k]} %>
  <%= submit_tag 'エリア別に探す', name: :send_area  %>
<% end %>



<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
