<% provide(:title, @user.name) %>
<h1>My page (<%= @user.name %>)</h1>
<h1>Users#show</h1>


<p>名前 : <%= @user.name %></p>
<p>性別 :<%= @user.gender_i18n %></p>


<p>生年月日 : <%= @user.birthday %></p>
<p>年齢： <%= @user.calculate_age %>歳</p>
趣味 : <% @user.categories.each do |category| %>
       <%= category.category_name %>
      <% end %>
<p>地域 : <%= @user.prefecture.present? ? @user.prefecture.name : "" %></p>
<p>一言 : <%= @user.remarks %></p>

<% if @user.image.attached? %>
  <%= image_tag @user.image %>
<% end %>

<% if current_user == @user %>
 <%= link_to '編集', edit_user_registration_path %>
<% end %>

<p>いいねしたユーザー一覧</p>

<p>いいねされているユーザー一覧</p>
<p>メッセージ送受信箱</p>

<p>参加中のコミュニティ</p>

<% @user_communities.each do |community| %>
 <% next if community.author == current_user.id %>
  <%= link_to community_path(community.id) do %>
    <strong>「<%= community.name %>」</strong>
    <p>日時 : <%= community.date.strftime("%Y-%m-%d %H:%M") %></p>
    <p>都道府県 : <%= community.prefecture.name %></p>
    <p>市区町村 : <%= community.municipality %>
    <p>場所詳細 : <%= community.area_detail %>
    <p>募集人数 : <%= community.max_people %>人</p>
    <p>現在の参加人数 : <%= community.participation_people %>人</p>
  <% end %>
<% end %>

<p>作成したコミュニティ</p>
<% @user.created_communities.each do |created_community| %>
  <%= link_to community_path(created_community.id) do %>
    <strong>「<%= created_community.name %>」</strong>
    <p>日時 : <%= created_community.date.strftime("%Y-%m-%d %H:%M") %></p>
    <p>都道府県 : <%= created_community.prefecture.name %></p>
    <p>市区町村 : <%= created_community.municipality %>
    <p>場所詳細 : <%= created_community.area_detail %>
    <p>募集人数 : <%= created_community.max_people %>人</p>
    <p>現在の参加人数 : <%= created_community.participation_people %>人</p>
<% end %>
<% end %>
