<ul class="">

  <%= link_to 'コミュニティを作成する', new_community_path %>

  <%= form_tag(communities_path,:method => 'get') do %>
    <%= collection_select :category_id, :id, Category.all, :id, :category_name, prompt:"---" %>
    <%= submit_tag 'カテゴリーから探す',name: :send_category  %><br>
    <%= collection_select :prefecture_id, :id, Prefecture.all, :id, :name, prompt:"---" %>
    <%= submit_tag 'エリア別に探す', name: :send_area  %>
  <% end %>

  <% @communities.each do |community| %>
    <%= link_to community_path(community.id) do %>
      <%= community.name %>
      <%= community.prefecture_id %>
      <%= community.municipality %>
      <%= community.area_detail %>
      <%= community.date.strftime("%Y-%m-%d %H:%M") %>
      <br>
      <%= community.max_people %>
      <%= community.participation_people %>
      <% if community.max_people - community.participation_people == 0 %>
        <p>募集締切</p>
      <% else %>
        <p>参加可能</p>
      <% end %>
    <% end %>
  <% end %>
</ul>
