<ul class="">

  <%= link_to 'コミュニティを作成する', new_community_path %>

  <%= form_tag(communities_path,:method => 'get') do %>
    <%= collection_select :category_id, :id, Category.all, :id, :category_name, prompt:"---" %>
    <%= submit_tag 'カテゴリーから探す',name: :send_category  %><br>
    <%= collection_select :prefecture_id, :id, Prefecture.all, :id, :name, prompt:"---" %>
    <%= submit_tag 'エリア別に探す', name: :send_prefecture %>
  <% end %>

  <% @communities.each do |community| %>
    <% next if community.author == current_user.id %>
    <%= link_to community_path(community.id) do %>
    <strong>「<%= community.name %>」</strong>
    <p>日時 : <%= community.date.strftime("%Y-%m-%d %H:%M") %></p>
    <p>都道府県 : <%= community.prefecture.name %></p>
    <p>市区町村 : <%= community.municipality %>
    <p>場所詳細 : <%= community.area_detail %>
    <p>募集人数 : <%= community.max_people %>人</p>
    <p>現在の参加人数 : <%= community.participation_people %>人</p>
    <% end %>
    <% if UserCommunity.find_by(user_id: current_user.id, community_id: community.id).present? %>
      <p>参加中</p>
    <% elsif community.status == "max_number_of_people" %>
        <p>募集締切</p>
    <% else %>
        <p>参加可能</p>
    <% end %>

  <% end %>
</ul>
